body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: green;
}
.half-width{
    width: 38%;
    float: left;
    margin-left: 3.7%;
    padding-left: 3%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}